<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Pagetitle}}</title>
    <link rel="stylesheet" href="/css/product.css">

</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add-product">Add-products</a></li>
        </ul>
    </nav>


    <main class="main">
        <h1>welcome to add product</h1>
        <form action="/message" method="POST">
            <input type="text" placeholder="enter a text" name="title" />
            <button type="submit">submit</button>
        </form>
    </main>

</body>

</html>