<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../Layout/Header.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body class="add-product-bd">
    <%- include('../Layout/Navbar.ejs') %>


    <main class="main">
        <h1>welcome to add product</h1>
        <form class="glass-form" action="/message" method="POST">
            <input type="url" placeholder="Enter a product image url" name="imageUrl" />
            <input type="text" placeholder="Enter a product name" name="title" />
            <input type="text" placeholder="Enter a product Description" name="desc" />
            <input type="text" placeholder="Enter a product price" name="price" />
            <input type="text" placeholder="Enter a product delivery cost" name="delivery" />
            <button type="submit">Add Product</button>
        </form>
    </main>

</body>

</html> -->