<form action="/cart/<%=product.id%>" method="post">
        <button class="desc-buy-btn" type="submit">Buy Now</button>
        <input type="hidden" name="productId" value="<%=product._id%>">
      </form>